---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Galeria from '../components/Galeria.astro';
import Tiempo from '../components/Tiempo.astro';
import Seccion from '../components/seccion.astro';
import Card2 from '../components/Card2.astro';


const seccionitems = [
{
	title: "Datos Utiles",
	imgSrc: "/datosutiles.gif",
	imgAlt:"Datos Utiles",
	body: "Cuando visites Reta, recordá que este tranquilo paraíso no cuenta con entidades bancarias, cajeros automáticos ni estaciones de servicio. Los servicios más cercanos se encuentran en Copetonas, a unos 27 km. Además del efectivo, en Reta, cuentan con sistemas de pago alternativos. Preparate para disfrutar de la desconexión total en este hermoso destino natural"
}
]

const lugaritems =[
	{
		title: "¿Cómo llegar?",
		imgSrc: "/mapagif.gif",
		imgAlt: "Mapa de ubicación de Reta",
		body: "Ubicada en la costa de la provincia de Buenos Aires, Reta es un tranquilo balneario que combina la serenidad de un destino poco explorado con la belleza de la naturaleza en su estado más puro. A solo 80 kilómetros de Tres Arroyos, este rincón escondido es perfecto para aquellos que buscan playas amplias, atardeceres inolvidables, y un espacio donde el tiempo parece detenerse.",
		link: "/Ubicacion" // Agregamos la URL de destino
	}
]
;

---

<Layout title="Pagina Principal" description="Pagina principal Reta">
	<main>
	<Hero/>
	<div class="container-seccion">
		{lugaritems.map((item) => (
			<Seccion 
				title={item.title}
				imgSrc={item.imgSrc}
				imgAlt={item.imgAlt}
				body={item.body}
				link={item.link} // Pasamos el nuevo prop
				/>
			))}
	</div>		
	<Galeria/>
	<div class="container-seccion">
		{seccionitems.map((item) => (
			<Seccion 
				title={item.title}
				imgSrc={item.imgSrc}
				imgAlt={item.imgAlt}
				body={item.body}
				/>
			))}
	</div>
	
	<div class="container-card">
			  <Card2/>
	</div>
	<Tiempo/>
</main>
</Layout>

<style>



.container-seccion {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    align-content: center;
    align-items: center;
    height: auto;
    align-content: center;
    flex-wrap: wrap;
}

</style>
